<%- include('./partials/head.ejs') %> 

<h1>Edit Deck</h1>

<div class="form-div">

    <form action="/decksite/<%= deck.id %>?_method=PUT" method="post" enctype="multipart/form-data">

        <label for="name">Title</label>
        <input type="text" name="name" id="name" value="<%= deck.name %>" required/>
    
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand" value="<%= deck.brand %>" required/>
    
        <label for="width">Width</label>
        <input type="text" name="width" id="width" value="<%= deck.width %>" required/>
    
        <label for="length">Length</label>
        <input type="text" name="length" id="length" value="<%= deck.length %>" required/>
    
        <label for="wheelbase">Wheelbase</label>
        <input type="text" name="wheelbase" id="wheelbase" value="<%= deck.wheelbase %>" required/>
    
        <label for="woodshop">Woodshop</label>
        <input type="text" name="woodshop" id="woodshop" value="<%= deck.woodshop %>" required/>

        <label for="img">Image</label>
        <input type="file" name="img" id="img" required/>

        <label for="owner">Owner</label>
        <input type="text" name="owner" id="owner" value="<%= deck.owner %>" required/>
    
        <input type="submit" value="Edit Board" />
    
    </form>

</div>



<%- include('./partials/foot.ejs') %> 