<%- include('./partials/head.ejs') %> 


</div>


<% decks.forEach((deck) => { %>
    <p><%= deck.name %></p>
        <p><%= deck.brand %></p>
    <a class="index-deck"href="decksite/<%= deck.id %>">
        <img class="index-img" src="<%= deck.img %>" />
    </a>
<% }) %>

</div>

<%- include('./partials/foot.ejs') %> 