<%- include('./partials/head.ejs') %>

<h1 class="page-heading"><%= decks[0].length %> Inch Boards</h1>

<div class="index-container">

    <% decks.forEach((deck) => { %>
     
        <a class="index-deck" href="/decksite/<%= deck.id %>">
            <img class="index-img" src="<%= deck.img %>" />
            <p class="index-text">"<%= deck.name %>" <%= deck.brand %></p>
        </a>
    <% }) %>
    
    
    
    </div>
<%- include('./partials/foot.ejs') %>