<%- include('./partials/head.ejs') %>


    <div class="show-div">
        <img class="show-img" src=" <%= deck.img %>" />
        <h3 class="show-heading">
            <%= deck.brand %>
        </h3>
        <h3>
            <%= deck.name %>
        </h3>
        

    </div>

    <%- include('./partials/foot.ejs') %>