<%- include('./partials/head.ejs') %>


    <div class="show-div">
        <img class="show-img" src=" <%= deck.img %>" />
        <div class="show-heading-div">
            <h3 class="show-heading">
                "<%= deck.name %>"
            </h3>
            <h3>
                <%= deck.brand %>
            </h3>
        </div>
        <div class="show-stats">
            <p> width: <%= deck.width %>
            </p>
            <p> length: <%= deck.length %>
            </p>
            <p> wheelbase: <%= deck.wheelbase %>
            </p>
            <p> factory/woodshop: <%= deck.woodshop %>
            </p>
            <p> owner: <%= deck.owner %>
            </p>
        </div>

    </div>



    <%- include('./partials/foot.ejs') %>